{% extends "BubblzBackendBundle:Shared:layout.html.twig" %}


{% block title %}BubblzBackendBundle:StoreStatistics:bubbllz{% endblock %}

{% block body %}
<h1>Welcome to the StoreStatistics:bubbllz page</h1>
{% endblock %}
