{% extends "::base.html.twig" %}

{% block title %}BubblzBackendBundle:StoreStatistics:loyaltyPoints{% endblock %}

{% block body %}
<h1>Welcome to the StoreStatistics:loyaltyPoints page</h1>
{% endblock %}
