{% extends "::base.html.twig" %}

{% block title %}BubblzApiBundle:ClientController:createClient{% endblock %}

{% block body %}
<h1>Welcome to the ClientController:createClient page</h1>
{% endblock %}
