<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT" />

        <title>
            {% block Title %}{{appName}}{% endblock %}
        </title>

        <link rel="stylesheet" type="text/css" href="/bundles/backend/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/bundles/backend/css/main.css"/>
    </head>
    <body>
        {% block header %}
            {% include 'BubblzBackendBundle:Shared:header.html.twig' %}
        {% endblock %} 
        {% block body %}

        {% endblock body %}    
        {% block footer %}
            <div id="footer" style="background: black; height: 30px;">
                asdasd
            </div>  
        {% endblock %}
    </body>
</html>