{% extends "BubblzBackendBundle:Shared:layout.html.twig" %}

{% block Title %}giorgos{% endblock %}

{% block body %}
    <h1>Welcome to the Stores:index page</h1>
    <div>
        <p>{{databaseName}}</p>
    </div>
{% endblock %}


{% block footer %}

{% endblock %}