{% trans_default_domain 'FOSUserBundle' %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
        <meta http-equiv="Pragma" content="no-cache" />
        <meta http-equiv="Expires" content="Mon, 26 Jul 1997 05:00:00 GMT" />

        <title>
            {% block Title %}{{appName}}{% endblock %}
        </title>

        <link rel="stylesheet" type="text/css" href="/bundles/backend/css/bootstrap.css"/>
        <link rel="stylesheet" type="text/css" href="/bundles/backend/css/main-login.css"/>
    </head>
    <body>
        <div id="loginHeader">
            <div class="logo">
                <img src="/bundles/backend/images/logo1.jpg" alt="Bubblz"/>
            </div>
        </div>
        {% block fos_user_content %}{% endblock fos_user_content %}
        <div id="loginFooter">
            <span>Giorgos</span>
        </div>
    </body>
</html>

